.preloader-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
  background-color: var(--white);
}

.preloader-hidden {
  display: none !important;
}

html {
  min-height: 100vh;
}

body {
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--poppins-font);
}

.dark {
  background-color: var(--dark);
  color: var(--text-white);
}

.dark a {
  color: var(--text-white);
}

@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"), url("../fonts/Poppins/Poppins-Regular.eot") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"), url("../fonts/Poppins/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"), url("../fonts/Poppins/Poppins-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-SemiBold.woff") format("woff"), url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("Poppins-Bold.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"), url("../fonts/Poppins/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Medium.eot");
  src: local("Inter Medium"), local("Inter-Medium"), url("../fonts/Inter/Inter-Medium.eot") format("embedded-opentype"), url("../fonts/Inter/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter/Inter-Medium.woff") format("woff"), url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("Inter-Bold.eot");
  src: local("Inter Bold"), local("Inter-Bold"), url("../fonts/Inter/Inter-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Inter/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter/Inter-Bold.woff") format("woff"), url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-SemiBold.eot");
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../fonts/Montserrat/Montserrat-SemiBold.eot") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
:root {
  --container-width: 1200px;
  --container-padding: 20px;
  --accent: #02897a;
  --text-color: #22343d;
  --text-white: #fff;
  --border-color: #bcd0e5;
  --white: #fff;
  --dark: #1f2e35;
  --poppins-font: "Poppins", sans-serif;
  --inter-font: "Inter", sans-serif;
  --montserrat-font: "Montserrat", sans-serif;
}

.none {
  display: none !important;
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  padding: 20px 0px;
  position: fixed;
  top: -1px;
  right: 0;
  left: 0;
  height: 80px;
  background-color: var(--white);
  z-index: 10;
}

.dark .site-header {
  background-color: var(--dark);
}

.header-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: inline-block;
  width: 178px;
  height: 37px;
  background-image: url(../images/header/header__logo.svg);
  transition: opacity 0.3s ease-in;
}
.header__logo:hover {
  opacity: 80%;
}
.header__logo:active {
  opacity: 70%;
}

.dark .header__logo {
  background-image: url(../images/header/header__logo-white.svg);
}

.hader__nav {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.haeder__list {
  width: 380px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.header__link {
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--text-color);
}
.header__link:hover {
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: var(--text-color);
}

.dark .header__link:hover {
  color: var(--text-white);
}

.header__sign-in {
  padding: 10px 0px;
  width: 102px;
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 600;
  line-height: unset;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 4px;
  transition: all 0.3s ease-in;
}
.header__sign-in:hover {
  background-color: var(--accent);
  color: var(--text-white);
  border-color: var(--accent);
}
.header__sign-in:active {
  position: relative;
  top: 1px;
}

.header__sign-up {
  padding: 10px 0px;
  width: 110px;
  height: 43px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--accent);
  color: var(--text-white);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in;
}
.header__sign-up:hover {
  background-color: transparent;
  color: var(--text-color);
  border-color: var(--border-color);
}
.header__sign-up:active {
  position: relative;
  top: 1px;
}

.dark .header__sign-up:hover {
  color: var(--text-white);
}

.header__dark-mode {
  padding: 6px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-color: #f3f3f3;
  background-image: url(../images/header/mode-icon.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: center;
  border-radius: 50%;
  transition: all 0.3s ease-in;
  z-index: 1;
}
.header__dark-mode:hover {
  background-color: var(--accent);
  background-image: url(../images/header/mode-icon-hover.svg);
}
.header__dark-mode:active {
  position: relative;
  top: 1px;
}

.header__burger-btn {
  display: none;
  width: 28px;
  height: 31px;
  background-image: url(../images/header/menu-icon.svg);
  transition: all 0.3s ease-in;
}
.header__burger-btn:hover {
  opacity: 80%;
}
.header__burger-btn:active {
  position: relative;
  top: 1px;
}

.dark .header__burger-btn {
  background-image: url(../images/header/menu-icon-white.svg);
}

.header__clouse-btn {
  display: none;
  width: 28px;
  height: 31px;
  background-image: url(../images/header/menu-icon.svg);
  transition: all 0.3s ease-in;
}
.header__clouse-btn:hover {
  opacity: 80%;
}
.header__clouse-btn:active {
  position: relative;
  top: 1px;
}

.dark .header__clouse-btn {
  background-image: url(../images/header/menu-icon-white.svg);
}

@media (max-width: 950px) {
  .site-header {
    margin-bottom: 30px;
    padding: 17px 0px;
    background: #fff;
    box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, 0.25);
  }
  .dark .site-header {
    box-shadow: 0px -2px 8px 0px rgba(255, 255, 255, 0.25);
  }
  .haeder__list {
    display: none;
  }
  .header__sign-in {
    display: none;
  }
  .header__sign-up {
    display: none;
  }
  .header__burger-btn {
    display: block;
    z-index: 1;
  }
  .haeder__nav--mobile {
    padding: 100px 20px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 250px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 30px;
    background-color: var(--dark);
    z-index: 5;
  }
  .dark .haeder__nav--mobile {
    background-color: var(--accent);
  }
  .haeder__nav--mobile .header__dark-mode {
    top: 20px;
    right: 70px;
    position: absolute;
  }
  .haeder__nav--mobile .header__burger-btn {
    display: none;
  }
  .haeder__nav--mobile .header__clouse-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    background-image: url(../images/header/menu-icon-white.svg);
  }
  .haeder__nav--mobile .header__sign-in {
    width: 110px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--text-white);
  }
  .haeder__nav--mobile .header__sign-in:hover {
    background-color: var(--white);
    color: var(--text-color);
    border-color: transparent;
  }
  .haeder__nav--mobile .header__sign-up {
    padding: 10px 0px;
    width: 110px;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--accent);
    color: var(--text-white);
    border-radius: 4px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in;
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-white);
    border-radius: 4px;
  }
  .haeder__nav--mobile .header__sign-up:hover {
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--border-color);
  }
  .haeder__nav--mobile .header__sign-up:active {
    position: relative;
    top: 1px;
  }
  .haeder__nav--mobile .header__sign-up:hover {
    background-color: var(--white);
    color: var(--text-color);
    border-color: transparent;
  }
  .haeder__nav--mobile .haeder__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    row-gap: 20px;
  }
  .haeder__nav--mobile .header__link {
    display: inline-block;
    width: 100%;
    color: var(--text-white);
  }
}
@media (max-width: 490px) {
  .haeder__nav--mobile {
    padding: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    background-color: var(--dark);
  }
  .header__dark-mode {
    display: none;
  }
  .haeder__nav--mobile .header__dark-mode {
    display: block;
  }
  .haeder__nav--mobile .header__dark-mode:hover {
    background-color: var(--white);
    background-image: url(../images/header/mode-icon.svg);
    opacity: 70%;
  }
  .haeder__nav--mobile .header__sign-in {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .haeder__nav--mobile .header__sign-up {
    padding: 10px 0px;
    width: 100%;
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--accent);
    color: var(--text-white);
    border-radius: 4px;
    border: 1px solid transparent;
    transition: all 0.3s ease-in;
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--text-white);
    border-radius: 4px;
  }
  .haeder__nav--mobile .header__sign-up:hover {
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--border-color);
  }
  .haeder__nav--mobile .header__sign-up:active {
    position: relative;
    top: 1px;
  }
  .haeder__nav--mobile .header__sign-up:hover {
    background-color: var(--white);
    color: var(--text-color);
    border-color: transparent;
  }
}
.intro-section {
  margin-top: 110px;
  margin-bottom: 115px;
}

.intro-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.intro__content {
  margin-top: 120px;
  max-width: 450px;
}

.dark .intro__title {
  color: var(--text-white);
}

.intro__title {
  margin-bottom: 18px;
  font-family: var(--poppins-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: var(--text-color);
}

.intro__text {
  margin-bottom: 45px;
  font-family: var(--poppins-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: var(--text-color);
}

.dark .intro__text {
  color: var(--text-white);
}

.intro__btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.intro__btn-wrapper li:nth-child(1) .btn-wrapper__btn {
  padding: 15px 0px;
  width: 175px;
  height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--accent);
  color: var(--text-white);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: var(--text-white);
}
.intro__btn-wrapper li:nth-child(1) .btn-wrapper__btn:hover {
  background-color: transparent;
  color: var(--text-color);
  border-color: var(--border-color);
}
.intro__btn-wrapper li:nth-child(1) .btn-wrapper__btn:active {
  position: relative;
  top: 1px;
}

.dark .intro__btn-wrapper li:nth-child(1) .btn-wrapper__btn:hover {
  color: var(--text-white);
}

.intro__btn-wrapper li:nth-child(2) .btn-wrapper__btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 160px;
  height: 25px;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: var(--accent);
  background-color: transparent;
  color: var(--accent);
}
.intro__btn-wrapper li:nth-child(2) .btn-wrapper__btn:hover {
  text-decoration: underline;
}
.intro__btn-wrapper li:nth-child(2) .btn-wrapper__btn:active {
  position: relative;
  top: 1px;
}

.intro__img {
  width: 600px;
  height: 556px;
}
.intro__img img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1100px) {
  .intro__content {
    max-width: 350px;
  }
  .intro__title {
    font-size: 37px;
  }
}
@media (max-width: 950px) {
  .intro-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: center;
    text-align: center;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .intro__content {
    margin-top: 0px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .intro__img {
    margin-bottom: 10px;
    width: 338px;
    height: 310px;
  }
}
@media (max-width: 390px) {
  .intro-section {
    margin-top: 110px;
    margin-bottom: 100px;
  }
  .intro__img {
    margin-bottom: 10px;
    width: 100%;
  }
  .intro__title {
    font-size: 30px;
    line-height: 35px;
  }
  .intro__text {
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 25px;
  }
  .intro__btn-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 0px;
         column-gap: 0px;
    row-gap: 30px;
  }
  .intro__btn-wrapper li:nth-child(2) .btn-wrapper__btn {
    position: relative;
    width: 100%;
    font-family: var(--poppins-font);
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: var(--accent);
  }
  .intro__btn-wrapper li:nth-child(2) .btn-wrapper__btn:before {
    display: none;
  }
}
.product {
  margin-bottom: 150px;
  padding-bottom: 90px;
  height: 540px;
  background-image: url(../images/product/product-bg.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.dark .product {
  background-image: url(../images/product/product-bg-dark.svg);
}

.product-row {
  margin: 0 auto;
  max-width: 1240px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product__content {
  margin-bottom: 66px;
  max-width: 520px;
  text-align: center;
}

.product__title {
  font-family: var(--poppins-font);
  font-size: 32px;
  font-weight: 700;
  line-height: unset;
  color: var(--text-color);
}

.dark .product__title {
  color: var(--text-white);
}

.product__list {
  margin-bottom: 35px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-column-gap: 45px;
}

.product__item__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.product__item__img {
  margin-bottom: 30px;
}
.product__item__img > img {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.25));
}

.product__item__title {
  margin-bottom: 13px;
  font-family: var(--poppins-font);
  font-size: 22px;
  font-weight: 600;
  line-height: unset;
  color: var(--text-color);
}

.dark .product__item__title,
.dark .product__item__text {
  color: var(--text-white);
}

.product__item__text {
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--text-color);
}

.product__btn {
  padding: 15px 0px;
  width: 175px;
  height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--accent);
  color: var(--text-white);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in;
}
.product__btn:hover {
  background-color: transparent;
  color: var(--text-color);
  border-color: var(--border-color);
}
.product__btn:active {
  position: relative;
  top: 1px;
}

.dark .product__btn:hover {
  color: var(--text-white);
}

@media (max-width: 950px) {
  .product {
    margin-bottom: 100px;
    height: auto;
  }
  .product__content {
    margin-bottom: 50px;
    max-width: auto;
  }
  .product__list {
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    justify-content: center;
  }
  .product__item__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
  }
}
@media (max-width: 490px) {
  .product {
    padding-bottom: 40px;
    height: auto;
  }
  .product__list {
    margin-bottom: 35px;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-gap: 32px;
    justify-content: center;
  }
}
.management {
  margin-bottom: 150px;
}

.management-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.management-wrapper {
  margin-top: 20px;
  max-width: 485px;
}

.management-wrapper__badge {
  margin-bottom: 8px;
  display: inline-block;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 600;
  line-height: unset;
  color: var(--text-color);
}

.management-wrapper__title {
  margin-bottom: 130px;
  font-family: var(--poppins-font);
  font-size: 32px;
  font-weight: 700;
  line-height: unset;
  color: var(--text-color);
}

.dark .management-wrapper__title {
  color: var(--text-white);
}

.management-wrapper__content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.management-wrapper__content__badge {
  margin-bottom: 12px;
  display: inline-block;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: var(--text-color);
}

.dark strong {
  color: var(--text-white);
}

.management-wrapper__content__text {
  margin-bottom: 25px;
}

.management__img {
  width: 470px;
  height: 475px;
}
.management__img > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 950px) {
  .management {
    margin-bottom: 100px;
  }
  .management-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .management-wrapper__content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: left;
  }
  .management__img {
    margin-bottom: 50px;
    width: 470px;
    height: 475px;
  }
  .management-wrapper {
    margin-top: 0px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .management-wrapper__title {
    margin-bottom: 50px;
  }
}
@media (max-width: 490px) {
  .management__img {
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 420px) {
  .management-wrapper {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.customer {
  overflow-x: hidden;
  margin-bottom: 150px;
}

.customer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.dark strong {
  color: var(--text-white);
}

.customer__img {
  width: 543px;
  height: 500px;
}
.customer__img > img {
  width: 100%;
  height: 100%;
}

.customer-wrapper {
  margin-top: 35px;
  max-width: 486px;
}

.customer-wrapper__badge {
  margin-bottom: 8px;
  display: inline-block;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 600;
  line-height: unset;
  color: var(--text-color);
}

.customer-wrapper__title {
  margin-bottom: 23px;
  font-family: var(--poppins-font);
  font-size: 32px;
  font-weight: 700;
  line-height: unset;
  color: var(--text-color);
}

.dark .customer-wrapper__title {
  color: var(--text-white);
}

.customer-wrapper__text {
  margin-bottom: 30px;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--text-color);
}

.dark .customer-wrapper__text {
  color: var(--text-white);
}

.customer-wrapper__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 30px;
}

.customer-wrapper__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}

.customer-wrapper__content__img {
  width: 35px;
  height: 35px;
}
.customer-wrapper__content__img > img {
  width: 100%;
  height: 100%;
}

.customer-wrapper__content__text {
  max-width: 365px;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--text-color);
}

.dark .customer-wrapper__content__text {
  color: var(--text-white);
}

@media (max-width: 1070px) {
  .customer-wrapper {
    margin-top: 35px;
    max-width: 430px;
  }
}
@media (max-width: 950px) {
  .customer {
    margin-bottom: 100px;
  }
  .customer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .customer__img {
    margin-bottom: 50px;
    width: 543px;
    height: 500px;
  }
  .customer-wrapper {
    margin-top: unset;
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
  }
}
@media (max-width: 620px) {
  .customer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: left;
  }
  .customer__img {
    width: 450px;
    height: 450px;
  }
  .customer-wrapper__content__text {
    max-width: 287px;
    font-family: var(--poppins-font);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color);
  }
}
@media (max-width: 490px) {
  .customer__img {
    width: 100%;
    height: 100%;
  }
  .customer-wrapper__title {
    margin-bottom: 15px;
    font-size: 27px;
  }
  .customer-wrapper__list {
    row-gap: 15px;
  }
  .customer-wrapper__item {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
  .customer-wrapper__text {
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 25px;
  }
  .customer-wrapper__content__text {
    width: 100%;
    font-family: var(--poppins-font);
    font-size: 15px;
    font-weight: 400;
    line-height: 26px;
    color: var(--text-color);
  }
}
.collaborative {
  margin-bottom: 150px;
}

.collaborative-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.collaborative-wrapper {
  margin-top: 18px;
  max-width: 486px;
}

.collaborative-wrapper__badge {
  margin-bottom: 8px;
  display: inline-block;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 600;
  line-height: unset;
  color: var(--text-color);
}

.collaborative-wrapper__title {
  margin-bottom: 23px;
  font-family: var(--poppins-font);
  font-size: 32px;
  font-weight: 700;
  line-height: unset;
  color: var(--text-color);
}

.dark .collaborative-wrapper__title {
  color: var(--text-white);
}

.collaborative-wrapper__text {
  margin-bottom: 30px;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--text-color);
}

.dark .collaborative-wrapper__text {
  color: var(--text-white);
}

.collaborative-wrapper__content__badge {
  margin-bottom: 12px;
  display: inline-block;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: var(--text-color);
}

.collaborative-wrapper__content__text {
  margin-bottom: 25px;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: var(--text-color);
}

.dark .collaborative-wrapper__content__text {
  color: var(--text-white);
}

.collaborative__img {
  width: 542px;
  height: 452px;
}
.collaborative__img > img {
  width: 100%;
  height: 100%;
}

@media (max-width: 1070px) {
  .collaborative-wrapper {
    max-width: 400px;
  }
}
@media (max-width: 950px) {
  .collaborative-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .collaborative-wrapper {
    max-width: 100%;
  }
}
@media (max-width: 490px) {
  .collaborative-row {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    -moz-column-gap: unset;
         column-gap: unset;
  }
  .collaborative__img {
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
  }
  .collaborative-wrapper {
    margin-top: unset;
    max-width: 100%;
  }
}
.process {
  padding-top: 53px;
  margin-bottom: 150px;
  background-image: url(../images/process/process-bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top;
}

.dark .process {
  background-image: url(../images/process/process-bg-dark.svg);
}

.process-container {
  margin: 0 auto;
  padding: var(--container-padding);
  max-width: 1000px;
}

.process-row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.process-wrapper {
  max-width: 542px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
}

.process-wrapper__title {
  margin-bottom: 15px;
  font-family: var(--poppins-font);
  font-size: 32px;
  font-weight: 700;
  line-height: unset;
  color: var(--text-color);
}

.dark .process-wrapper__title {
  color: var(--text-white);
}

.process-wrapper__text {
  margin-bottom: 32px;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--text-color);
}

.dark .process-wrapper__text {
  color: var(--text-white);
}

.process__list {
  margin-bottom: 48px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 178px;
       column-gap: 178px;
}

.process__list__row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 25px;
}

.process__item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.process__item-02 {
  flex-direction: row-reverse;
  justify-content: end;
}

.process__item-03 {
  flex-direction: row-reverse;
  justify-content: end;
}

.process__item__img {
  width: 98px;
  height: 98px;
}

.process__item__text {
  position: relative;
  padding: 15px 20px 20px;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 500;
  line-height: unset;
  color: var(--text-color);
  background-color: var(--white);
  filter: drop-shadow(0px 2px 8px rgba(86, 117, 146, 0.1));
  border-radius: 25px;
}
.process__item__text::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 32px;
  width: 17px;
  height: 17px;
  background-color: var(--white);
  border-radius: 50%;
}
.process__item__text::after {
  content: "";
  position: absolute;
  top: 108%;
  left: 22px;
  width: 9px;
  height: 9px;
  background-color: var(--white);
  border-radius: 50%;
}

.process__btn {
  padding: 15px 0px;
  width: 215px;
  height: 53px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--accent);
  color: var(--text-white);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in;
}
.process__btn:hover {
  background-color: transparent;
  color: var(--text-color);
  border-color: var(--border-color);
}
.process__btn:active {
  position: relative;
  top: 1px;
}

.dark .process__btn:hover {
  color: var(--text-white);
}

@media (max-width: 1000px) {
  .process__list {
    margin-bottom: 48px;
    grid-gap: 25px 100px;
  }
}
@media (max-width: 950px) {
  .process {
    margin-bottom: 100px;
  }
  .process__list {
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .process__list__row:nth-child(2) {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
.strategies {
  margin-bottom: 150px;
}

.strategies-row {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.strategies__title {
  margin-bottom: 8px;
  font-family: var(--poppins-font);
  font-size: 34px;
  font-weight: 700;
  line-height: unset;
  color: var(--text-color);
}

.dark .strategies__title {
  color: var(--white);
}

.strategies__text {
  margin-bottom: 33px;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: var(--text-color);
}

.dark .strategies__text {
  color: var(--white);
}

.strategies__list {
  margin-bottom: 65px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 30px;
}

.strategies__item {
  cursor: pointer;
  background-color: var(--white);
  border-radius: 8px;
  overflow: hidden;
}
.strategies__item:hover .strategies__item__title {
  color: var(--accent);
}

.strategies__item__img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
}
.strategies__item__img > img {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.08));
}

.strategies__item__content {
  padding: 24px 30px 40px 24px;
  background-color: var(--white);
  border: 1px solid #dedede;
  border-radius: 0px 0px 8px 8px;
}

.strategies__item__badge {
  margin-bottom: 12px;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: var(--text-color);
}
.strategies__item__badge > span {
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 700;
  line-height: 28px;
  color: var(--text-color);
}

.strategies__item__title {
  font-family: var(--poppins-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  color: var(--text-color);
  transition: color 0.3s ease-in;
}

.strategies__dots-wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}

.dots {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #efefef;
  border-radius: 50%;
}

.active {
  background-color: var(--accent);
}

@media (max-width: 950px) {
  .strategies__list {
    margin-bottom: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, auto);
    grid-column-gap: unset;
    grid-row-gap: 15px;
  }
  .strategies__item__content {
    padding: 25px 25px 30px 10px;
  }
}
@media (max-width: 410px) {
  .strategies__title {
    font-size: 27px;
  }
  .strategies__dots-wrapper {
    display: none;
  }
}
.site-footer {
  position: relative;
  margin-top: auto;
  padding-bottom: 45px;
  margin-bottom: 45px;
}

.dark .site-footer {
  color: var(--text-white);
}

.dark .site-footer strong {
  color: var(--text-white);
}

.dark .site-footer a {
  color: var(--text-white);
}

.footer-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 25px;
}

.footer__logo {
  display: inline-block;
  width: 163px;
  height: 30px;
  background-image: url(../images/footer/footer-logo.svg);
  transition: opacity 0.3s ease-in;
}
.footer__logo:hover {
  opacity: 80%;
}
.footer__logo:active {
  opacity: 75%;
}

.dark .footer__logo {
  background-image: url(../images/footer/footer-logo-white.svg);
}

.social-icons-list {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

.social-icons-list__item {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #edfffc;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.social-icons-list__item:hover {
  transform: translateY(-3px);
  opacity: 80%;
}

.social-icons-list__link {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list-wrapper {
  width: 378px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.list-wrapper__badge {
  margin-bottom: 8px;
  display: inline-block;
  font-family: var(--poppins-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--text-color);
}

.list-wrapper__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.list-wrapper__link {
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 35px;
  color: var(--text-color);
}
.list-wrapper__link:hover {
  font-weight: 500;
  color: var(--accent);
}

.form-wrapper {
  width: 325px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.form-wrapper__badge {
  margin-bottom: 35px;
  display: inline-block;
  font-family: var(--poppins-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  color: var(--text-color);
}

.form-wrapper input {
  margin-bottom: 20px;
  padding-left: 20px;
  width: 325px;
  height: 48px;
  background: #fff;
  color: var(--text-color);
  border: 1px solid #bcd0e5;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
.form-wrapper input:focus {
  border-color: var(--accent);
}

.dark .form-wrapper input {
  color: var(--accent);
}

.form-wrapper__btn {
  padding: 8px;
  width: 131px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  background-color: var(--accent);
  color: var(--text-white);
  border-radius: 4px;
  border: 1px solid transparent;
  transition: all 0.3s ease-in;
}
.form-wrapper__btn:hover {
  background-color: transparent;
  color: var(--text-color);
  border-color: var(--border-color);
}
.form-wrapper__btn:active {
  position: relative;
  top: 1px;
}

.dark .form-wrapper__btn:hover {
  color: var(--text-white);
}

.footer__text {
  position: absolute;
  padding: 0px 10px;
  right: 50%;
  transform: translateX(50%);
  bottom: 0;
  width: 100%;
  font-family: var(--poppins-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--text-color);
  text-align: center;
}

.dark .footer__text {
  color: var(--text-white);
}

@media (max-width: 950px) {
  .site-footer {
    height: 820px;
  }
  .footer-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
  }
  .list-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
  }
  .list-wrapper__row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .list-wrapper__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .form-wrapper input {
    width: 100%;
  }
  .form-wrapper__btn {
    margin: 0 auto;
  }
}
@media (max-width: 380px) {
  .site-footer {
    margin-bottom: 30px;
    padding-bottom: unset;
    height: 800px;
  }
  .footer__text {
    font-size: 11px;
    line-height: 11px;
  }
}/*# sourceMappingURL=main.css.map */