html {
  min-height: 100vh;
}

body {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  font-family: var(--poppins-font);
}

.dark {
  background-color: var(--dark);

  color: var(--text-white);
}

.dark a {
  color: var(--text-white);
}
