.intro-section {
  margin-top: 110px;
  margin-bottom: 115px;
}

.intro-row {
  @include display($ai: start, $jc: space-between);
  column-gap: 10px;
}

.intro__content {
  margin-top: 120px;

  max-width: 450px;
}

.dark .intro__title {
  color: var(--text-white);
}

.intro__title {
  margin-bottom: 18px;

  @include textStyle($fs: 40px, $fw: 700, $lh: 60px);
}

.intro__text {
  margin-bottom: 45px;

  @include textStyle($fs: 18px, $lh: 28px);
}

.dark .intro__text {
  color: var(--text-white);
}

.intro__btn-wrapper {
  @include display();
  column-gap: 30px;
}

.intro__btn-wrapper li:nth-child(1) .btn-wrapper__btn {
  @include btn($padding: 15px 0px, $width: 175px, $height: 53px);
  @include textStyle($fw: 700, $color: var(--text-white));
}

.dark .intro__btn-wrapper li:nth-child(1) .btn-wrapper__btn {
  &:hover {
    color: var(--text-white);
  }
}

.intro__btn-wrapper li:nth-child(2) .btn-wrapper__btn {
  @include display($jc: space-between, $ai: center);

  width: 160px;
  height: 25px;

  @include textStyle($fw: 600, $color: var(--accent));

  background-color: transparent;
  color: var(--accent);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}

.intro__img {
  width: 600px;
  height: 556px;

  & img {
    width: 100%;
    height: 100%;
  }
}

// tablet
@media (max-width: 1100px) {
  .intro__content {
    max-width: 350px;
  }

  .intro__title {
    font-size: 37px;
  }
}

// mobile
@media (max-width: 950px) {
  .intro-row {
    @include display($fd: column-reverse, $ai: center);
    text-align: center;

    column-gap: unset;
  }

  .intro__content {
    margin-top: 0px;

    max-width: 100%;
    @include display($fd: column);
  }

  .intro__img {
    margin-bottom: 10px;

    width: 338px;
    height: 310px;
  }
}

// mobile
@media (max-width: 390px) {
  .intro-section {
    margin-top: 110px;
    margin-bottom: 100px;
  }
  .intro__img {
    margin-bottom: 10px;

    width: 100%;
  }

  .intro__title {
    font-size: 30px;
    line-height: 35px;
  }

  .intro__text {
    margin-bottom: 35px;

    font-size: 15px;
    line-height: 25px;
  }

  .intro__btn-wrapper {
    width: 100%;

    @include display($fd: column, $jc: center);
    column-gap: 0px;
    row-gap: 30px;
  }
  .intro__btn-wrapper li:nth-child(2) .btn-wrapper__btn {
    position: relative;

    width: 100%;

    @include textStyle($fw: 600, $color: var(--accent));

    &:before {
      display: none;
    }
  }
}
